:root {
  --bg: #FEECCA;
  --correct: #34C1AA;
  --incorrect: #E4724E;
  --fg: #F7B85C;
}

.answer-tile {
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px #000;
  border: 2px solid #000;
}

.answer-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  font-size: 2rem;
  color: #000;
  font-weight: 900;
}

.question-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  box-shadow: 4px 4px #000;
  background: var(--fg);
  font-size: 3rem;
  font-weight: 900;
  border: 2px solid #000;
  text-shadow: 2px 2px #FFF;
}

.correct-msg {
  position: absolute;
  bottom: 0;
  color: #000;
}

.question-count {
  width: 100%;
  text-align: center;
  font-size: .75rem;
  font-weight: 900;
  color: #000;
}

.start-btn {
  padding-inline: 1rem;
  padding-block: .5rem;
  background: #FFF;
  font-weight: 900;
  border: 2px solid #000;
  box-shadow: 4px 4px #000;
  width: 100%;
  color: #000;
}

.title {
  font-weight: 900;
  color: #000;
  font-size: 4rem;
  text-align: center;
}

.quiz-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: var(--bg);
  padding: 1rem;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
}

.bg-correct {
  background: var(--correct);
}

.bg-incorrect {
  background: var(--incorrect);
}

.bg-default {
  background: var(--fg);
}

.app-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: var(--bg);
}
