@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&family=Roboto+Mono&family=RocknRoll+One&display=swap');
// font-family: 'Noto Serif JP', serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'RocknRoll One', sans-serif;

// Custom Properties
$correct: #34C1AA;    // rgb(176, 205, 176)
$incorrect: #E4724E;  // rgb(233, 147, 112)
$background: #FEECCA; // rgb(240, 230, 231)
$foreground: #F7B85C; // rgb(234, 195, 13)
$white: #FFF;         // rgb(255, 255, 255)
$black: #000;         // rgb(0, 0, 0)

$box-shadow: 4px 4px $black;
$box-shadow-sm: 2px 2px $black;
$border: 2px solid $black;

// End Custom Properties

// Begin CSS reset - joshwcomeau.com/css/custom-css-reset
// 1. Use a more-intuitive box-sizing model.
*,
*::before,
*::after {
  box-sizing: border-box;
}
// 2. Remove default margin
* {
  margin: 0;
}
// 3. Allow percentage-based heights in the application
html,
body,
#__next {
  height: 100%;
  font-family: 'RocknRoll One', sans-serif;

  p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
  }
}
// Typographic tweaks!
// 4. Add accessible line-height
// 5. Improve text rendering
body {
  -webkit-font-smoothing: antialiased;
}
* {
  line-height: calc(1em + 0.5rem);
}
// 6. Improve media defaults
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
// 7. Remove built-in form typography styles
input, button, textarea, select {
  font: inherit;
}
// 8. Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
// 9. Create a root stacking context
#root,
#__next {
  isolation: isolate;
}
// End CSS reset

// Regular CSS

// Utility Classes
.flex-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-white {
  background: $white;
}

.bg-correct {
  background: $correct;
}

.bg-incorrect {
  background: $incorrect;
}

.bg-default {
  background: $foreground;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

// Wraps all the content (outermost <div>)
.app {
  height: 100%;
  background: $background;
  padding: 1rem;
  text-align: center;

  // HiKa QUIZ
  &__title {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    color: $black;
  }
}

// Wraps the options menu
.options {

  &__menu {
    background: $foreground;
    border: $border;
    box-shadow: $box-shadow;
    padding: 1rem;
  }

  &__header {
    border-bottom: 2px solid $black;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .flex-group {
    gap: .5rem;
    margin-block: 1rem;

    button {
      width: 100%;
      border: $border;
      box-shadow: $box-shadow-sm;
      font-size: 1.5rem;
      padding: .5rem;
      font-weight: 700;
    }
  }
}

// Start quiz button
.btn {
  width: 100%;
  border: $border;
  box-shadow: $box-shadow;
  background: $white;
  margin-top: 1rem;
  padding-block: .5rem;
  font-size: 1.5rem;
}

// Question Wrapper
.question {
  background: $foreground;
  border: $border;
  box-shadow: $box-shadow;
  height: 15rem;
  position: relative;

  &__text {
    font-size: 5rem;
  }

  &__msg {
    position: absolute;
    bottom: .5rem;
    font-size: 3rem;
    transition: all 0.5s ease-in-out;
  }

  .shadow-correct {
    text-shadow: 2px 2px $correct;
  }

  .shadow-incorrect {
    text-shadow: 2px 2px $incorrect;
  }
}

.ff-rock {
  font-family: 'RocknRoll One', sans-serif;
  font-weight: 900;
}

.ff-mono {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.ff-noto {
  font-family: 'Noto Serif JP', serif;
  font-weight: 700;
}

// Answers Wrapper
.answers {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(2, 1fr);
  margin-block: 2rem;

  button {
    border: $border;
    box-shadow: $box-shadow-sm;
    font-size: 2rem;
  }

  .pb-3 {
    padding-block: 3rem;
  }

  .pb-7 {
    padding-block: 1.5rem;
  }
}

// Scorekeeping Wrapper
.score {
  display: grid;
  gap: .5rem;
  background: $white;
  border: $border;
  box-shadow: $box-shadow;
  padding: .5rem;
  font-size: 1.25rem;
  justify-content: center;

  &__count {
    font-size: 1rem;
  }

  &__details {
    display: flex;
    gap: .5rem;
    font-size: 1.25rem;
  }

  &__correct {
    color: $correct;
  }

  &__incorrect {
    color: $incorrect;
  }
}
